<div class="countdown-container">
  <div class="count-container">
    <div class="countdown fold-animation-close" id="countdown-days">
      {{ days }}
      <div class="semi-circle-left"></div>
      <div class="semi-circle-right"></div>
    </div>
    <div class="count-title">DAYS</div>
  </div>
  <div class="count-container">
    <div class="countdown fold-animation-close" id="countdown-hrs">
      {{ hrs }}
      <div class="semi-circle-left"></div>
      <div class="semi-circle-right"></div>
    </div>
    <div class="count-title">HOURS</div>
  </div>
  <div class="count-container">
    <div class="countdown fold-animation-close" id="countdown-min">
      {{ minutes }}
      <div class="semi-circle-left"></div>
      <div class="semi-circle-right"></div>
    </div>
    <div class="count-title">MINUTES</div>
  </div>
  <div class="count-container">
    <div class="countdown fold-animation-close" id="countdown">
      {{ seconds }}
      <div class="semi-circle-left"></div>
      <div class="semi-circle-right"></div>
    </div>
    <div class="count-title">SECONDS</div>
  </div>
</div>
